{
   "rabbit_version":"3.6.6",
   "users":[
      {
         "name":"toms",
         "password_hash":"OJiU6JiTgwiJd94/P+bOjFAtPVEYwAU6HWY0rrS0FCZ+OaVf",
         "hashing_algorithm":"rabbit_password_hashing_sha256",
         "tags":"management"
      }
   ],
   "vhosts":[
      {
         "name":"fincloud",
	 "archived":false
      }
   ],
   "permissions":[
      {
         "user":"admin",
         "vhost":"fincloud",
         "configure":".*",
         "write":".*",
         "read":".*"
      },
      {
         "user":"toms",
         "vhost":"fincloud",
         "configure":"^fincloud\\.(exchange|queue)\\.oplog$",
         "write":"^fincloud\\.(exchange|queue)\\.oplog$",
         "read":"^fincloud\\.(exchange|queue)\\.oplog$"
      }
   ],
   "queues":[
      {
         "name":"fincloud.queue.oplog",
         "vhost":"fincloud",
         "durable":false,
         "auto_delete":false,
	 "archived":true,
         "arguments":{

         }
      }
   ],
   "exchanges":[
      {
         "name":"fincloud.exchange.oplog",
         "vhost":"fincloud",
         "type":"topic",
         "durable":true,
         "auto_delete":false,
         "internal":false,
	 "archived":false,
         "arguments":{

         }
      }
   ],
   "bindings":[
      {
         "source":"fincloud.exchange.oplog",
         "vhost":"fincloud",
         "destination":"fincloud.queue.oplog",
         "destination_type":"queue",
         "routing_key":"fincloud.routingKey.oplog",
         "arguments":{

         }
      }
   ]
}
